html,
body {
  margin: 0px;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-between;
   
}
.scoreBoard{
    background: red;
    display: flex;
    flex: 1 1  0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
   
}
.game{
    background: blue;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    
   
    
    
}
.btns{
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    
    gap: 40px;
    margin-top: 40px;
    
    
   

}

.btn{
    height: 150px;
    width: 150px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    background: white;
    
    
}

.Score{
    height: 100px;
    width: 100px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    background: white;
    justify-content: center;
    align-items: center;
}
.text{
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
} 
.scoreSquare{
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}



button img {
    width: 100%; /* makes the image fill the button */
    border-radius: 50%; /* gives the button a rounded shape */
    object-fit: cover; /* makes the image cover the entire button */
  }
#btnRock, #btnPaper, #btnScissors{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%; 
  }

#dialog1{
   
    font-size: 35px;

    margin-top: 50px;
    margin-bottom: 0px;

}
.dialog2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    
    font-size: 30px;
    

}
h4{
    margin-top: 0px;
    font-size: 40px;
}
#player, #computer{
    font-size: 40px;
}